.kit__l15__item {
    border-bottom: 1px solid #e4e9f0;
}

.kit__l15__item:first-child .kit__l15__itemLink {
    padding-top: 0;
}

.kit__l15__item:last-child {
    border-bottom: none;
}

.kit__l15__item:last-child .kit__l15__itemLink {
    padding-bottom: 0;
}

.kit__l15__itemLink {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: inherit;
    padding-top: 2rem;
    padding-bottom: 1.66rem;
}

.kit__l15__itemLink:hover, .kit__l15__itemLink:focus {
    color: inherit;
}

.kit__l15__itemCover {
    width: 4.86rem;
    flex-shrink: 0;
}

.kit__l15__itemCover img {
    width: 100%;
    height: auto;
}

[data-kit-theme='dark'] .kit__l15__item {
    border-bottom: 1px solid #232135;
}
