<p>Someone has requested a password reset for the following account:</p>
<p>Email: {{ email }}</p>
<p>If this was a mistake, just ignore this email and nothing will happen.To reset your password, visit the following address:</p>
<p><a href="{{ url }}" target="_blank">{{ url }}</a></p>