/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/styles/themes/mymo/css
/public/styles/themes/mymo/js
/storage
/vendor
/.idea
/update
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log