/node_modules
/public/hot
/public/storage
/public/js
/public/css
/storage
/vendor
/.idea
/update
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css/backend.css
/public/js/backend.js
