/node_modules
/public/hot
/public/storage
/storage
/vendor
/.idea
/update
/composer.lock
/bootstrap/cache
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log