<aside class="wrapper__list__article">
    <h4 class="border_section">{{ data.title }}</h4>
    <a href="{{ data.link }}">
        <figure>
            <img src="{{ upload_url(data.banner) }}" alt="" class="img-fluid">
        </figure>
    </a>
</aside>
