.cui__auth {
    /* SETTINGS */
}

.cui__auth__boxContainer {
    padding: 3.33rem 2rem;
}

.cui__auth__authContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.cui__auth__authContainer--white {
    background: #fff;
}

.cui__auth__authContainer--gray {
    background: #f2f4f8;
}

.cui__auth__containerInner {
    max-width: 32rem;
    width: 100%;
}

.cui__auth__topbar {
    height: 4.26rem;
    border-bottom: 1px solid #e4e9f0;
    background: #fff;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.86rem;
    width: 100%;
}

.cui__auth__topbar--gray {
    background: #f2f4f8;
}

.cui__auth__logoContainer {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 1.86rem 0 0;
}

.cui__auth__logoContainer__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.6rem;
    white-space: nowrap;
    width: 100%;
}

.cui__auth__logoContainer__name {
    font-size: 1.33rem;
    font-weight: 700;
    color: #141322;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 90%;
    display: block;
}

.cui__auth__logoContainer__descr {
    margin-left: 0.86rem;
    padding-left: 0.86rem;
    height: 2.53rem;
    line-height: 2.53rem;
    border-left: 1px solid #e4e9f0;
    font-size: 0.93rem;
}

.cui__auth__footerNav li {
    margin: 0.33rem 0.93rem;
}

.cui__topbar--gray .cui__auth__topbar {
    background: #f2f4f8;
}

.cui__auth--gray .cui__auth__authContainer {
    background: #f2f4f8;
}

.cui__auth--img .cui__auth__authContainer {
    background-image: url(/components/kit-core/img/content/photos/7.jpg);
}

[data-kit-theme='dark'] .cui__auth__authContainer {
    background: transparent !important;
}

[data-kit-theme='dark'] .cui__auth__topbar {
    background: #141322 !important;
    border-bottom: 1px solid #232135 !important;
}

[data-kit-theme='dark'] .cui__auth__logoContainer__name {
    color: #fff;
}

[data-kit-theme='dark'] .cui__auth__logoContainer__descr {
    color: #7575a3;
    border-left: 1px solid #232135;
}
