/*  "COLORS" STYLES */
.text-default {
    color: #c8c4db !important;
}

.text-primary {
    color: var(--kit-color-primary) !important;
}

.text-secondary {
    color: #a1a1c2 !important;
}

.text-success {
    color: #41b883 !important;
}

.text-danger {
    color: #f5222e !important;
}

.text-warning {
    color: #faad15 !important;
}

.text-info {
    color: #42baf9 !important;
}

.text-light {
    color: #f2f4f8 !important;
}

.text-dark {
    color: #141322 !important;
}

.text-white {
    color: #fff !important;
}

.text-muted {
    color: #a1a1c2 !important;
}

.text-blue {
    color: var(--kit-color-primary) !important;
}

.text-blue-light {
    color: #42baf9 !important;
}

.text-red {
    color: #f5222e !important;
}

.text-yellow {
    color: #ff0 !important;
}

.text-pink {
    color: #fd3995 !important;
}

.text-orange {
    color: #faad15 !important;
}

.text-gray-1 {
    color: #f2f4f8 !important;
}

.text-gray-2 {
    color: #e4e9f0 !important;
}

.text-gray-3 {
    color: #d9dee9 !important;
}

.text-gray-4 {
    color: #c8c4db !important;
}

.text-gray-5 {
    color: #a1a1c2 !important;
}

.text-gray-6 {
    color: #595c97 !important;
}

.bg-default {
    background-color: #c8c4db !important;
}

.bg-primary {
    background-color: var(--kit-color-primary) !important;
}

.bg-secondary {
    background-color: #a1a1c2 !important;
}

.bg-success {
    background-color: #41b883 !important;
}

.bg-danger {
    background-color: #f5222e !important;
}

.bg-warning {
    background-color: #faad15 !important;
}

.bg-info {
    background-color: #42baf9 !important;
}

.bg-light {
    background-color: #f2f4f8 !important;
}

.bg-dark {
    background-color: #141322 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-blue {
    background-color: var(--kit-color-primary) !important;
}

.bg-blue-light {
    background-color: #42baf9 !important;
}

.bg-red {
    background-color: #f5222e !important;
}

.bg-yellow {
    background-color: #ff0 !important;
}

.bg-orange {
    background-color: #faad15 !important;
}

.bg-gray-1 {
    background-color: #f2f4f8 !important;
}

.bg-gray-2 {
    background-color: #e4e9f0 !important;
}

.bg-gray-3 {
    background-color: #d9dee9 !important;
}

.bg-gray-4 {
    background-color: #c8c4db !important;
}

.bg-gray-5 {
    background-color: #a1a1c2 !important;
}

.bg-gray-6 {
    background-color: #595c97 !important;
}

.border-default {
    border-color: #c8c4db !important;
}

.border-primary {
    border-color: var(--kit-color-primary) !important;
}

.border-secondary {
    border-color: var(--kit-color-primary) !important;
}

.border-success {
    border-color: #41b883 !important;
}

.border-danger {
    border-color: #f5222e !important;
}

.border-warning {
    border-color: #faad15 !important;
}

.border-info {
    border-color: #42baf9 !important;
}

.border-light {
    border-color: #f2f4f8 !important;
}

.border-dark {
    border-color: #141322 !important;
}

.border-white {
    border-color: #fff !important;
}

.border-blue {
    border-color: var(--kit-color-primary) !important;
}

.border-blue-light {
    border-color: #42baf9 !important;
}

.border-red {
    border-color: #f5222e !important;
}

.border-yellow {
    border-color: #ff0 !important;
}

.border-orange {
    border-color: #faad15 !important;
}

.border-gray-1 {
    border-color: #f2f4f8 !important;
}

.border-gray-2 {
    border-color: #e4e9f0 !important;
}

.border-gray-3 {
    border-color: #d9dee9 !important;
}

.border-gray-4 {
    border-color: #c8c4db !important;
}

.border-gray-5 {
    border-color: #a1a1c2 !important;
}

.border-gray-6 {
    border-color: #595c97 !important;
}
