/*  "MEASUREMENTS" STYLES */
.font-size-0 {
    font-size: 0rem;
}

.font-size-10 {
    font-size: 0.66rem;
}

.font-size-12 {
    font-size: 0.8rem;
}

.font-size-14 {
    font-size: 0.93rem;
}

.font-size-16 {
    font-size: 1.06rem;
}

.font-size-18 {
    font-size: 1.2rem;
}

.font-size-21 {
    font-size: 1.33rem;
}

.font-size-24 {
    font-size: 1.6rem;
}

.font-size-28 {
    font-size: 1.73rem;
}

.font-size-30 {
    font-size: 2rem;
}

.font-size-32 {
    font-size: 2rem;
}

.font-size-36 {
    font-size: 2.4rem;
}

.font-size-40 {
    font-size: 2.66rem;
}

.font-size-48 {
    font-size: 3.2rem;
}

.font-size-50 {
    font-size: 3.33rem;
}

.font-size-60 {
    font-size: 4rem;
}

.font-size-70 {
    font-size: 4.66rem;
}

.font-size-80 {
    font-size: 5.33rem;
}

.height-0 {
    height: 0rem;
}

.height-10 {
    height: 0.66rem;
}

.height-20 {
    height: 1.33rem;
}

.height-40 {
    height: 2.66rem;
}

.height-100 {
    height: 6.66rem;
}

.height-150 {
    height: 10rem;
}

.height-200 {
    height: 13.33rem;
}

.height-250 {
    height: 16.66rem;
}

.height-300 {
    height: 20rem;
}

.height-400 {
    height: 26.66rem;
}

.height-500 {
    height: 33.33rem;
}

.height-600 {
    height: 40rem;
}

.height-700 {
    height: 46.66rem;
}

.height-0p {
    height: 0%;
}

.height-10p {
    height: 10%;
}

.height-20p {
    height: 20%;
}

.height-25p {
    height: 25%;
}

.height-33p {
    height: 33%;
}

.height-50p {
    width: 50%;
}

.height-66p {
    height: 66%;
}

.height-75p {
    height: 75%;
}

.height-80p {
    height: 80%;
}

.height-90p {
    height: 80%;
}

.height-100p {
    height: 100%;
}

.width-10 {
    width: 0.66rem;
}

.width-20 {
    width: 1.33rem;
}

.width-40 {
    width: 2.66rem;
}

.width-50 {
    width: 3.33rem;
}

.width-100 {
    width: 6.66rem;
}

.width-150 {
    width: 10rem;
}

.width-200 {
    width: 13.33rem;
}

.width-250 {
    width: 16.66rem;
}

.width-300 {
    width: 20rem;
}

.width-350 {
    width: 23.33rem;
}

.width-400 {
    width: 26.66rem;
}

.width-500 {
    width: 33.33rem;
}

.width-600 {
    width: 40rem;
}

.width-700 {
    width: 46.66rem;
}

.width-0p {
    width: 0%;
}

.width-10p {
    width: 10%;
}

.width-20p {
    width: 20%;
}

.width-25p {
    width: 25%;
}

.width-33p {
    width: 33%;
}

.width-50p {
    width: 50%;
}

.width-66p {
    width: 66%;
}

.width-75p {
    width: 75%;
}

.width-80p {
    width: 80%;
}

.width-90p {
    width: 80%;
}

.width-100p {
    width: 100%;
}

.line-height-1 {
    line-height: 1;
}

.border-5 {
    border-width: 0.33rem !important;
}
