a {
    color: #007bff;
}

ul {
    list-style: none;
}

.error {
    color: red;
}

#holder, #holder-poster {
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.form-thumbnail img{
    width: 100%;
}

.btn {
    text-transform: capitalize;
}

.cui__menuLeft__navigation .cui__menuLeft__navigation .cui__menuLeft__item__link {
    text-transform: capitalize;
}

.col-form-label {
    width: 100%;
    text-transform: capitalize;
}

.box-hidden {
    display: none;
}

.btn i {
    margin-right: 0.25rem;
}

.tag {
    font-size: .75rem;
    background-color: #f4f3f9;
    color: #2e384d;
    border-radius: 3px;
    padding: 0 .5rem;
    line-height: 2em;
    display: inline-flex;
    cursor: default;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: .25rem;
}

.show-categories {
    overflow: auto;
    height: 200px;
}

.table a{
    color: #007bff;
}

.upload-file {
    padding: 30px;
    text-align: center;
    border: 1px dotted #ccc;
}

.description {
    font-size: 12.5px;
}

.breadcrumb-item {
    text-transform: uppercase;
}

.preview-image img {
    max-width: 100%;
}

#accordion .acc_content{
    display: none;
}

#banners li {
    margin-top: 20px;
}

#banners li .thumbnail {
    object-fit: cover;
    width: 100%;
    height: 130px;
}

.ul-show-items {
    height: 200px;
    overflow: auto;
}

#form-menu .item-edit{
    position: absolute;
    right: 5px;
    z-index: 999;
    top: 5px;
}