.error {
    color: red;
}

#holder {
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#holder img{
    width: 100%;
}

.btn {
    text-transform: capitalize;
}

.cui__menuLeft__navigation .cui__menuLeft__navigation .cui__menuLeft__item__link {
    text-transform: capitalize;
}