{% if data.meta.last_page > 1 %}
    {% for page in data.meta.links %}
        {% if page.active %}
            <a class="active" href="{{ page.url }}">{{ page.label }}</a>
        {% else %}
            <a href="{{ page.url }}">{{ page.label }}</a>
        {% endif %}
    {% endfor %}
{% endif %}
