.kit__g20__icon {
    position: absolute;
    font-size: 5.33rem;
    right: -0.67rem;
    bottom: -0.67rem;
}

.kit__g20__control {
    height: 7px !important;
    border-radius: 4px;
    border: none !important;
}
