.kit__l9__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 2rem;
    position: relative;
    min-height: 96px;
}

.kit__l9__item::before {
    content: '';
    position: absolute;
    top: calc(50% + 28px);
    transform: translateY(-50%);
    left: 2.2rem;
    bottom: 0;
    width: 5px;
    height: 32px;
    background-image: url("../../../kit-core/img/3-rounds.png");
    background-repeat: no-repeat;
}

.kit__l9__item:last-child {
    padding-bottom: 0;
}

.kit__l9__item:last-child::before {
    display: none;
}

.kit__l9__itemPicContainer {
    align-self: flex-start;
    position: relative;
    margin-right: 1.33rem;
    margin-left: 1rem;
}

.kit__l9__itemPic {
    width: 2.86rem;
    height: 2.86rem;
    border-radius: 50%;
    line-height: 2.86rem;
    flex-shrink: 0;
    opacity: 0.4;
}

.kit__l9__itemIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #fff;
}

[data-kit-theme='dark'] .kit__l9__item:before {
    opacity: 0.1;
}
