<div class="widget widget-archive">
    <div class="heading-layout1">
        <h3 class="heading-title">{{ data.title }}</h3>
    </div>
    <ul class="archive-list">
        {% set items = get_taxonomies({
            id_in: data.taxonomies
        }) %}

        {% for item in items %}
        <li>
            <a href="{{ item.url }}">{{ item.name }}<span>({{ item.total_post }})</span></a>
        </li>
        {% endfor %}
    </ul>
</div>