<div class="widget widget-tags">
    <div class="heading-layout1">
        <h2 class="heading-title">{{ data.title }}</h2>
    </div>
    {% set items = get_taxonomies({
        'type': data.type,
        'taxonomy': 'tags',
        'limit': data.limit,
    }) %}

    <ul class="tag-list">
        {% for item in items %}
        <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
</div>