a {
    color: #007bff;
}

ul {
    list-style: none;
}

.error {
    color: red;
}

#admin-overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height:100%;
    display: none;
    background: rgba(0,0,0,0.5);
}

#admin-overlay .cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin-overlay .cv-spinner .spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

#holder, #holder-poster {
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.form-thumbnail img{
    width: 100%;
}

.btn {
    text-transform: capitalize;
}

.juzaweb__menuLeft__item__link {
    margin-top: unset;
    padding: 0 10px 0 8px;
}

.col-form-label {
    width: 100%;
    text-transform: capitalize;
}

.box-hidden {
    display: none;
}

.btn i {
    margin-right: 0.25rem;
}

.tag {
    font-size: .75rem;
    background-color: #f4f3f9;
    color: #2e384d;
    border-radius: 3px;
    padding: 0 .5rem;
    line-height: 2em;
    display: inline-flex;
    cursor: default;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: .25rem;
}

.show-categories {
    overflow: auto;
    height: 200px;
}

.table a{
    color: #007bff;
}

.upload-file {
    padding: 30px;
    text-align: center;
    border: 1px dotted #ccc;
}

.description {
    font-size: 12.5px;
}

.preview-image img {
    max-width: 100%;
}

#accordion .acc_content{
    display: none;
}

#banners li {
    margin-top: 20px;
}

#banners li .thumbnail {
    object-fit: cover;
    width: 100%;
    height: 130px;
}

.ul-show-items {
    height: 200px;
    overflow: auto;
}

#form-menu .item-edit{
    position: absolute;
    right: 5px;
    z-index: 999;
    top: 5px;
}

.seo-card img {
    max-width: 100%;
}

/* custom_scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* end custom_scrollbar */
.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.box-hidden{
    display: none;
}

ul {
    list-style: none;
}

.btn{
    text-transform: capitalize;
}

label abbr {
    color: red;
}

span.tag {
    padding: 3px;
}

.card {
    box-shadow: unset;
    border-radius: unset;
}

.card-header:first-child {
    border-radius: unset;
}

.dropdown.dropdown-hover:hover > .dropdown-menu {
    display: block;
}

.dropdown.dropdown-hover > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.juzaweb__menuLeft__item {
    border-radius: 0;
}

.juzaweb__menuLeft__navigation {
    padding: unset;
}

.juzaweb__menuLeft__item__icon {
    right: 8px;
}

.juzaweb__menuLeft__item__link {
    border-radius: 2px;
    text-transform: capitalize;
}

.juzaweb__menuLeft__logo__container {
    padding: 0 1rem 0 1rem;
}

.juzaweb__menuLeft--dark .juzaweb__menuLeft {
    z-index: 999;
}

.juzaweb__menuLeft--dark .juzaweb__menuLeft__item:hover {
    color: var(--kit-color-primary) !important;
    background: #232135 !important;
}

.juzaweb__menuLeft__submenu:hover ul.juzaweb__menuLeft__navigation,
.juzaweb__menuLeft__submenu ul.juzaweb__menuLeft__navigation:hover
{
    display: block;
}

.juzaweb__menuLeft__trigger {
    width: 180px;
}

.juzaweb__menuLeft__submenu ul.juzaweb__menuLeft__navigation {
    margin-left: 180px;
    margin-top: -40px;
    position: absolute;
    color: #7575a3;
    background: #232135;
    width: 150px;
    border-radius: 0 3px 3px 0;
    z-index: 99;
}

.juzaweb__menuLeft__submenu.juzaweb__menuLeft__submenu--toggled ul.juzaweb__menuLeft__navigation {
    margin-left: unset;
    margin-top: unset;
    position: relative;
    color: #7575a3;
    background: #232135;
    width: unset;
    border-radius: unset;
    padding: 0 0 8px 8px;
}

.juzaweb__menuLeft__item--active {
    background: unset !important;
    color: var(--kit-color-primary) !important;
}

.juzaweb__menuLeft__item--active:hover {
    background: unset !important;
    color: var(--kit-color-primary) !important;
}

.juzaweb__menuLeft__navigation .juzaweb__menuLeft__navigation .juzaweb__menuLeft__item__link {
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    text-transform: capitalize;
    margin-top: 3px;
}

.show-taxonomies {
    max-height: 200px;
    overflow: auto;
}

/*
Form file management
--------------------
*/
.form-image {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 200px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    color: #777;
    background-color: #FFF;
    background-image: none;
    text-align: center;
    border: 1px solid #E5E5E5;
    -webkit-transition: border-color .15s linear;
    transition: border-color .15s linear;
}

.form-image:hover {
    background-size: 30px 30px;
    background-image: -webkit-linear-gradient(
            135deg
            ,#F6F6F6 25%,transparent 25%,transparent 50%,#F6F6F6 50%,#F6F6F6 75%,transparent 75%,transparent);
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 2s linear infinite;
    background-image: linear-gradient(
            -45deg
            , #f2f4f8 25%, transparent 25%, transparent 50%, #f2f4f8 50%, #f2f4f8 75%, transparent 75%, transparent);
}

.form-image .image-clear {
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
    font-size: 11px;
    padding: 4px 8px;
    font-weight: 700;
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
    color: #8e8b8b;
    z-index: 9;
    display: none;
}

.previewing:hover .image-clear{
    display: block;
}

.form-image {
    cursor: pointer;
}

.form-image .icon-choose {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.form-image .icon-choose i {
    font-size: 50px;
    color: #CCC;
}

.form-image .dropify-preview {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #FFF;
    padding: 5px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
}

.form-image .dropify-preview .dropify-render img {
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background-color: #FFF;
    -webkit-transition: border-color .15s linear;
    transition: border-color .15s linear;
    object-fit: cover;
}

.form-image .dropify-preview .dropify-infos {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(0,0,0,.7);
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.form-image .dropify-preview .dropify-infos .dropify-infos-inner {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-40%);
    transform: translate(0,-40%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    padding: 0 20px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.form-image .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename span.file-icon {
    margin-right: 2px;
}

.form-image .dropify-preview .dropify-infos .dropify-infos-inner p {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFF;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
}

.form-images .images-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.form-images .image-item {
    height: 130px;
    width: 130px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0.5rem;
    flex-direction: column;
}

.form-images .image-item .image-preview {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-images .image-item .remove-image-item {
    position: absolute;
    top: 0;
    right: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    font-size: 18px;
    width: 15px;
    color: red;
    margin-left: 10px;
}

.juzaweb__menuLeft {
    background: #fff;
    color: #595c97;
    transition: none;
    display: block;
    min-height: 100%;
    flex: 0 0 180px;
    max-width: 180px;
    min-width: 180px;
    width: 180px;
}

.juzaweb__menuLeft__outer {
    background: #fff;
    position: fixed;
    height: 100%;
    width: inherit;
    max-width: inherit;
}

.juzaweb__menuLeft__logo img {
    max-width: 150px;
}

.juzaweb__menuLeft--dark .juzaweb__menuLeft__item__link {
    color: #7575a3 !important;
}

.juzaweb__menuLeft--dark .juzaweb__menuLeft__item__link:hover {
    color: var(--kit-color-primary) !important;
    background: #232135 !important;
}

.juzaweb__menuLeft--dark .juzaweb__menuLeft__item__link.juzaweb__menuLeft__item--active {
    color: var(--kit-color-primary) !important;
    background: unset !important;
}

.juzaweb__menuLeft--dark .juzaweb__menuLeft__item__link:after, .juzaweb__menuLeft--dark .juzaweb__menuLeft__item__link:before {
    background: #3b3b5b;
}

.jw-table tr .list-actions {
    visibility: hidden;
}

.jw-table tr:hover .list-actions {
    visibility: inherit;
}

.footer-button {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: white;
    padding: 10px;
}

.tox-statusbar__branding {
    display: none;
}

.juzaweb__layout__header {
    height: 54px;
}

.juzaweb__topbar {
    min-height: 54px;
    height: 54px;
}

.juzaweb__topbar .juzaweb__btn-top {
    position: absolute;
    right: 20px;
}

/* seo form */
.review-title {
    color: #1a0dab;
}

.review-url {
    color: #006621;
}

.review-description {
    color: #545454;
}

#uploadForm .dz-default.dz-message {
    border: 2px dashed #ccc;
    border-radius: 5px;
    color: #aaa;
    margin: 0;
    padding: 3rem 0;
}

.dd-item .dd-nodrag {
    cursor: auto;
}

.juzaweb__topbar__notify .dropdown-toggle span {
    font-size: 10px;
    background: #419af9;
    border-radius: 6px;
    position: absolute;
    width: 15px;
    text-align: center;
    color: white;
}

#form-search .select2.select2-container {
    min-width: 150px !important;
}

.select2 .select2-selection--single {
    border-color: #ced4da;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    border-bottom-color: blueviolet;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    height: 2.4rem;
}

.select2.select2-container--focus .select2-selection{
    border-bottom-color: blueviolet;
}

.btn {
    border-radius: 0;
    padding: 0.375rem 0.8rem;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #444;
}

.modal-content {
    border-radius: 0;
}

.modal-content .modal-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.jw__utils__control__indicator {
    border-radius: 0;
    background: #d0d8e3;
}

.jw-table .jw__utils__control {
    margin-bottom: 0;
}

.jw-table .jw__utils__control__indicator {
    margin-right: 0;
    margin-bottom: 0;
    height: 15px;
    width: 15px;
}

.jw-table .jw__utils__control__checkbox .jw__utils__control__indicator:after {
    top: 1px;
    left: 5px;
    width: 6px;
}

@media (max-width: 767px) {
    .juzaweb__menuLeft {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        /*transform: translate(-256px, 0);*/
        transform: translate(-180px, 0);
        transition: transform 0.3s ease-in-out;
        z-index: 999;
    }

    .juzaweb__menuLeft--mobileToggled .juzaweb__menuLeft {
        transform: translate(0, 0);
    }

    .juzaweb__menuLeft--mobileToggled .juzaweb__menuLeft__backdrop {
        opacity: 0.4;
        visibility: visible;
    }

    .juzaweb__menuLeft__scroll {
        overflow-y: auto;
    }

    .juzaweb__menuLeft__backdrop {
        position: fixed;
        z-index: 99;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #141322;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out;
    }

    .juzaweb__menuLeft__mobileTrigger {
        position: absolute;
        right: -41px;
        top: 72px;
        width: 41px;
        height: 40px;
        cursor: pointer;
        z-index: 0;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        background: #141322;
        border-radius: 0 4px 4px 0;
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
    }
    .juzaweb__menuLeft__mobileTrigger span {
        display: inline-block;
        width: 14px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50;
        margin: -1px 0 0 -7px;
    }
    .juzaweb__menuLeft__mobileTrigger span:after, .juzaweb__menuLeft__mobileTrigger span:before {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        width: 100%;
        height: 2px;
    }
    .juzaweb__menuLeft__mobileTrigger span:before {
        top: -5px;
    }
    .juzaweb__menuLeft__mobileTrigger span:after {
        top: 5px;
    }
}
