{% extends 'cms::layouts.frontend' %}

{% block content %}
    <section class="inner-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">

                    {% for post in page.data %}
                        {{ get_template_part(post, 'content') }}
                    {% endfor %}

                    <div class="pagination-layout1">
                        {{ paginate_links(page, 'theme::components.pagination') }}
                    </div>

                </div>
                <div class="col-xl-3 sidebar-widget-xl">
                    {{ dynamic_sidebar('sidebar') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}