.kit__t6__textDivider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.kit__t6__textDivider::before, .kit__t6__textDivider::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #e4e9f0;
}

.kit__t6__textDivider__content {
    flex-shrink: 0;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

[data-kit-theme='dark'] .kit__t6__textDivider::before, [data-kit-theme='dark'] .kit__t6__textDivider::after {
    background-color: #232135;
}
